.container {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.featureContainer {
  flex: 2;
}

.valueContainer {
  flex: 1;
}

.conditionContainer {
  flex: 1;
}

.deleteButton {
  flex: 0.5;
}
