.row {
  display: flex;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
.column {
  flex: 50%;
  padding: 16px;
  height: 250px;
}
