.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  min-height: 80px;
  border-bottom: 1px solid #eaeaea;
}

.title {
  text-align: center;
}

.container2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
}

.cohortListContainer {
  flex: 1;
}

.filterDropdownContainer {
  position: relative;
  flex: 2;
}

.filterDropdown {
  position: relative;
  z-index: 2;
}

.addFilterButton {
}

.saveCohortButton {
}

.buttonContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.operatorDropdown {
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.verticalLine {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgb(201, 201, 201);
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.operatorDropdownContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 50px;
  margin-top: 30px;
}
