.component {
}

.loadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.patientProfile {
  width: 100%;
}
