.container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  margin-bottom: 100px;
}

.bodyContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addTableButton {
  margin-top: 1rem;
}
