.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.patientStoryContainer {
  flex: 9;
}

.templateListContainer {
  flex: 1;
  margin-top: 50px;
  margin-right: 20px;
}
