.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border: 2px solid #ccc;
  background-color: antiquewhite;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.commentInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.commentActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

.commentActions > * {
  margin-left: 10px;
  cursor: pointer;
}

.commentActions > *:hover {
  text-decoration: underline;
}
